{{> default/header }}

<body>
    <!--Navigation-->
    {{> default/top-navigation}}
    <!-- Page Content -->
    <div class="container">
       {{{ body }}}
    </div>
    <!--Footer-->
    {{> default/footer }}
